@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --blue-top: #D8E9F3;
  --blue-bottom: #96C9E6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-top: var(--blue-top);
  --color-blue-bottom: var(--blue-bottom);
  --font-sans: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
